<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置系统</title>
</head>
<body>
<script src="./vue.global.js"></script>
<div id="app">
    <form >
        <label >
            frp服务器：
        </label>
        <input v-model="configData.ip" type="text"  name="dataConfigIp"/><br><br>
        <label >
            frp服务认证密钥：
        </label>
        <input v-model="configData.token" type="text"  name="dataConfigToken"/><br><br>
        <label >
            frp服务名称：
        </label>
        <input v-model="configData.name" type="text"  name="dataConfigName"/><br><br>
        <label >
            飞牛服务端口(HTTPS端口)：
        </label>
        <input type="number" v-model="configData.FNOSPort"  name="dataConfigFNOSPort"/><br><br>
        <label >
            frp服务密钥：
        </label>
        <input v-model="configData.secretKey" type="text"  name="dataConfigSecretKey"/><br><br>
        <label >
            frp服务端口：
        </label>
        <input v-model="configData.port" type="text"  name="dataConfigPort"/><br><br>
    </form>
    <button type="button" @click="saveConfig">保存</button>
</div>

<script>
    const {createApp, ref} = Vue
    const app = createApp({
        setup() {
            const configData = ref({
            })
            const saveConfig = () => {
                try {
                    const copyConfig = `serverAddr = "${configData.value.ip}"
serverPort = ${configData.value.port}
${configData.value.token?`auth.token = "${configData.value.token}"`:''}
[[proxies]]
name = "${configData.value.name}"
type = "xtcp"
# 只有共享密钥 (secretKey) 与服务器端一致的用户才能访问该服务
secretKey = "${configData.value.secretKey}"
localIP = "127.0.0.1"
localPort = ${configData.value.FNOSPort}
        `
                    navigator.clipboard.writeText(copyConfig).then(() => {
                        alert(`FNNAS配置已经成功写入剪切板，若未配置FNOS端，请前往配置！`)
                        window.electronAPI.sendMessage('save-config', JSON.parse(JSON.stringify(configData.value)))
                    })
                } catch (err) {
                    alert(JSON.stringify(e.message))
                }
            }
            return {
                configData,
                saveConfig
            }
        },
        mounted() {
            try{
                window.electronAPI.fs.readFile().then(res => {
                    this.configData = JSON.parse(res)
                });
            }catch (e) {
                alert(e.message)
            }
        }
    })
    app.mount('#app')
</script>
</body>
</html>